.movieCard > h2 {
  font-size: 2rem;
}

.movieInfo img {
  width: 100%;
  border-radius: 12px;
}

.movieInfo > p {
  font-size: 1.2rem;
}

select {
  font-size: 1.2 rem;
}

.filmStats > summary {
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
}

.filmStats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filmStats table {
  font-size: 1rem;
}
